  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">HTML5</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/webdev">Home</a></li>
      <li><a href="cal.html">Calendar</a></li>
      <li><a href="#">Syllabus</a></li>
      <li><a href="#">Blackboard</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Weekly Activities
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="hello.html">Hello</a></li>
          <li><a href="#">Page 1-2</a></li>
          <li><a href="#">Page 1-3</a></li>
        </ul>
      </li>

    </ul>
  </div>
</nav>
<script>
  window.onload = function() {
   if (window.jQuery) {  
       // jQuery is loaded  
       alert("Yeah!");
   } else {
    alert("nope!");
   }
}
  $( document ).on( 'click', '.navbar-nav li', function ( e ) {
    $( this ).addClass( 'active' ).siblings().removeClass( 'active' );
} );
</script>
