---
---
@import "{{ site.theme }}";

.jumbotron {
	margin-bottom: 0px;
	color: #CCCCCC;
	background-image: url("../../background.jpg");
	background-size: cover;
}
.pageLayout {
	color: white;
}
h1 {
	color: orange;	
}
@media (min-width: 768px) {
	.navbar  {
		border-radius: 0px;	
	}
}
